name: Release & Publish to NPM
on: workflow_dispatch

# See https://docs.npmjs.com/trusted-publishers
permissions:
  id-token: write  # Required for OIDC
  contents: read

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          token: ${{ secrets.RELEASE_GITHUB_TOKEN }}

      - name: Setup
        uses: ./.github/actions/setup

      - name: Initialize Git user
        run: |
          git config --global user.email "dev@contentpass.de"
          git config --global user.name "Release Workflow"

      - name: Log git status
        run: git status

      - name: Run release
        run: npm run release --ci
        env:
          GITHUB_TOKEN: ${{ secrets.RELEASE_GITHUB_TOKEN }}